<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jupiter</title>
</head>
<body>
    <a href="/sistema-solar">Home</a>
    <h1>Jupiter</h1>
    <p>
        Júpiter es el planeta más grande del 
        sistema solar, conocido por su composición 
        gaseosa y su famosa Gran Mancha Roja.
    </p>
</body>
</html>