<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marte</title>
</head>
<body>
    <a href="/sistema-solar">Home</a>
    <h1>Marte</h1>
    <p>
        Marte es el cuarto planeta del sistema solar, 
        conocido como "el planeta rojo" debido a su color 
        característico, y es un objetivo clave para la 
        exploración espacial.
    </p>
</body>
</html>