<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neptuno</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Neptuno</h1>
    <p>
        Neptuno es el octavo y más lejano planeta del sistema solar, 
        conocido por su color azul y su atmósfera dinámica.
    </p>
</body>
</html>