<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saturno</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Saturno</h1>
    <p>
        Saturno es el sexto planeta del sistema solar, 
        conocido por sus impresionantes anillos y su composición 
        gaseosa, siendo el segundo más grande después de Júpiter.
    </p>
</body>
</html>