<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saturno</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Saturno</h1>
    <p>
        Saturno es el sexto planeta del sistema solar, 
        conocido por sus impresionantes anillos y su composición 
        gaseosa, siendo el segundo más grande después de Júpiter.
    </p>
    <img 
        src="https://th.bing.com/th/id/OIP.NB1u_KAP4rCnO5BrVnkgZgHaEK?o=7rm=3&rs=1&pid=ImgDetMain&o=7&rm=3" 
        alt="Imagen de Saturno"
        title="Saturno todo bonito"
    >
</body>
</html>