<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urano</title>
</head>
<body>
    <a href="/sistema-solar">Home</a>
    <h1>Urano</h1>
    <p>
        Urano es el séptimo planeta desde el Sol y el tercero más grande del sistema solar. 
        Es un gigante de hielo, compuesto principalmente de hidrógeno, helio y compuestos como 
        el agua, amoníaco y metano. Urano fue descubierto en 1781 por William Herschel y su nombre 
        proviene del dios griego del cielo. Además, es conocido por su rotación inusual, ya que gira 
        de oeste a este, similar a Venus.
    </p>
</body>
</html>