<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venus</title>
</head>
<body>
    <a href="/sistema-solar">Home</a>
    <h1>Venus</h1>
    <p>
        Venus es el segundo planeta más cercano al Sol y
        es conocido como el "gemelo de la Tierra" debido
        a su tamaño y composición similar, aunque sus 
        condiciones son extremadamente diferentes.
    </p>
</body>
</html>